@using WAMA.Core.ViewModel.User;
@using WAMA.Core.Models.DTOs;

@model UserAccountViewModel

@{
    @Html.Partial("DisplayError")

     <div class="col-xs-6 col-xs-offset-3">
         <h1 class="">Work on progress Add Certification</h1>
     </div>
}