@using WAMA.Core.ViewModel.User;

@model UserAccountViewModel

@{

    @Html.Partial("DisplayError")

    if (object.Equals(Model, null))
    {
        <h1>No user account found</h1>
    }
    else
    {
        <div class="col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1">

            <div class="form-group col-xs-12">
                <a href="@($"{Model.AccountType}s")">
                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Cancel
                </a>
            </div>

            <form asp-action="@nameof(WAMA.Web.Controllers.UserToolController.EditAccount)" asp-antiforgery="true" method="post">
                <div class="form-group col-xs-12">
                    <label asp-for="FirstName"></label>
                    <input asp-for="FirstName" class="form-control" />
                </div>
                <div class="form-group col-xs-12">
                    <label asp-for="LastName"></label>
                    <input asp-for="LastName" class="form-control" />
                </div>
                <div class="form-group col-xs-12">
                    <label asp-for="Email"></label>
                    <input asp-for="Email" class="form-control" />
                </div>
                <div class="form-group col-xs-12">
                    <label asp-for="MemberId"></label>
                    <input asp-for="MemberId" class="form-control" />
                </div>
                <div class="form-group col-xs-12">
                    <button type="submit" class="btn btn-primary">
                        <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span> save changes
                    </button>
                </div>
            </form>
        </div>
    }
}