@using WAMA.Web.Model;
@using WAMA.Core.ViewModel.User;

<h2>User Account Summaries</h2>

<h3 class="text-center">Accounts Pending Approval</h3>
<div>
    <h4>Pending Users</h4>
    @Html.Partial("UserAccountTableDisplay", ViewData["PendingPatron"])
</div>

<h3 class="text-center">Suspended Account List </h3>
<div>
    <h4>Suspended Users</h4>
    @Html.Partial("UserAccountTableDisplay", ViewData["SuspendedPatron"])
</div>