@using WAMA.Core.Extensions;
@using WAMA.Core.Models.DTOs;
@using WAMA.Web.Controllers;

@if (Model is UserAccountType)
{
    <div>
        @{
            var label = "Add New User";
            var accountType = (UserAccountType)Model;
            var addNewUserAccountController = nameof(UserToolController).StripController();
            var addNewUserAccountAction = nameof(UserToolController.UserAccountAddNewUser);
            var addNewUserUrl = Url.Action(addNewUserAccountAction,
                addNewUserAccountController,
                new
                {
                    type = accountType
                });

            switch (accountType)
            {
                case UserAccountType.Patron:
                    label = AppString.AddNewPatronLabel;
                    break;
                case UserAccountType.Employee:
                    label = AppString.AddNewEmployeeLabel;
                    break;
                case UserAccountType.Manager:
                    label = AppString.AddNewManagerLabel;
                    break;
                case UserAccountType.Administrator:
                    label = AppString.AddNewAdministratorLabel;
                    break;
            }
        }

        <a href='@addNewUserUrl'>
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> @label
        </a>
    </div>

    <br />
    <br />
}