@using WAMA.Core.Extensions;
@using WAMA.Core.Models.DTOs;
@using WAMA.Web.Controllers;

@if (Model is UserAccountType)
{
    <div>
        @{
            var label = "Add New User";
            var accountType = (UserAccountType)Model;
            var createNewUserAccountController = nameof(UserToolController).StripController();
            var createNewUserAccountAction = nameof(UserToolController.CreateNewUserAccount);
            var addNewUserUrl = Url.Action(createNewUserAccountAction,
                createNewUserAccountController,
                new
                {
                    type = accountType
                });

            switch (accountType)
            {
                case UserAccountType.Patron:
                    label = AppString.CreateNewPatronLabel;
                    break;
                case UserAccountType.Employee:
                    label = AppString.CreateNewEmployeeLabel;
                    break;
                case UserAccountType.Manager:
                    label = AppString.CreateNewManagerLabel;
                    break;
                case UserAccountType.Administrator:
                    label = AppString.CreateNewAdministratorLabel;
                    break;
            }
        }

        <a href='@addNewUserUrl'>
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> @label
        </a>
    </div>

    <br />
    <br />
}