@using WAMA.Core.ViewModel;
@using WAMA.Core.Models.DTOs;
@using WAMA.Web.Controllers;
@using WAMA.Web.Model;
@using WAMA.Core.Extensions;
@using WAMA.Core.ViewModel.User;
@model UserAccountViewModel

@{

    if (object.Equals(Model, null))
    {
        <h1>No user account found</h1>

    }
    else

    {
        @Html.Partial("DisplayError")

        @if (Model.AccountType == UserAccountType.Patron)
        {
            @Html.Partial("ViewCertification", ViewData["Certifications"])
        }
        else
        {
            <h1>Nothing to show in here</h1>
        }
    }

}