@using WAMA.Web.Model;

@{
    ViewData[Constants.ADMIN_CONSOLE_ACTIVE_TOOL] = Constants.ADMIN_CONSOLE_HOME;
}

<div id="box">
    <div class="panel panel-primary">
        <h4 class="panel panel-heading">Patron check-ins</h4>
        <div class="panel-footer">
            Currently checked-in: <h4>45</h4>
        </div>
        <a href="#">
            <div class="panel-footer"> View Details</div>
        </a>
    </div>
</div>
<div id="box">
    <div class="panel panel-primary">
        <h4 class="panel panel-heading">Employee Check-ins</h4>
        <div class="panel-footer">
            Currently checked-in: <h4>46</h4>
        </div>
        <a href="#">
            <div class="panel-footer"> View Details</div>
        </a>
    </div>
</div>
<div id="box">
    <div class="panel panel-primary">
        <h4 class="panel panel-heading">Other Account Info</h4>
        <div class="panel-footer">
            Accounts Pending Approval: <h4>47</h4>
        </div>
        <a href="#">
            <div class="panel-footer"> View Details</div>
        </a>
        <div class="panel-footer">
            Accounts Expecting Certification: <h4>48</h4>
        </div>
        <a href="#">
            <div class="panel-footer"> View Details</div>
        </a>
        <div class="panel-footer">
            Accounts Temporary Suspended: <h4>4</h4>
        </div>
        <a href="#">
            <div class="panel-footer"> View Details</div>
        </a>
    </div>
</div>
