@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

@using WAMA.Web.Model;

@{

    ViewData[Constants.ADMIN_CONSOLE_ACTIVE_TOOL] = Constants.ADMIN_CONSOLE_HOME;
}

Todays activities

<h1>Patron check-ins: 45</h1>
<h1>Employee check-ins: 5</h1>