@using WAMA.Core.ViewModel;
@using WAMA.Core.Models.DTOs;

@Html.Partial("DisplayAlerts")

@{
    @model UserSearchFilterViewModel
    <div class="container">
        <h2 class="col-sm-offset-4">Advanced search</h2><br><br>
        <form asp-action="@nameof(WAMA.Web.Controllers.ReportToolController.Users)" method="post" class="form-horizontal">
            <div class="form-group">
                <label asp-for="Name" class="control-label col-sm-2 col-sm-offset-2"></label>
                <div class="col-sm-3">
                    <input asp-for="Name" class="form-control" placeholder="Enter the Name You are Looking for" />
                </div>
            </div>
            <div class="form-group">
                <label asp-for="CommaSeparatedMemberIDs" class="control-label col-sm-2 col-sm-offset-2 "></label>
                <div class="col-sm-3 ">
                    <input asp-for="CommaSeparatedMemberIDs" class="form-control" placeholder="Enter the IDs You are Looking for" />
                </div>
            </div>
            <div class="form-group">
                <label asp-for="AccountTypes" class="control-label col-sm-2 col-sm-offset-2"></label>
                <div class="col-sm-3">

                    @{
                            var items = Html.GetEnumSelectList<UserAccountType>()
                                .Where(actType =>
                                    actType.Text.Equals($"{UserAccountType.Unknown}") == false &&
                                    actType.Text.Equals($"{UserAccountType.Mantainance}") == false);
                    }

                    <select asp-for="AccountTypes" asp-items="@items" class="form-control"></select>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="AccountIsSuspended" class="control-label col-sm-2 col-sm-offset-2"></label>
                <div class="col-sm-3">
                    <input asp-for="AccountIsSuspended" />
                </div>
            </div>
            <div class="form-group">
                <label asp-for="AccountIsApproved" class="control-label col-sm-2 col-sm-offset-2"></label>
                <div class="col-sm-3">
                    <input asp-for="AccountIsApproved" />
                </div>
            </div>
            <div class="form-group">
                <label asp-for="CertifiedOn" class="control-label col-sm-2 col-sm-offset-2"></label>
                <div class="col-sm-3">
                    <input asp-for="CertifiedOn" class="form-control" />
                </div>
            </div>
            <div class="form-group">
                <label asp-for="CertifiedBefore" class="control-label col-sm-2 col-sm-offset-2"></label>
                <div class="col-sm-3">
                    <input asp-for="CertifiedBefore" class="form-control" />
                </div>
            </div>
            <div class="form-group">
                <label asp-for="CertifiedAfter" class="control-label col-sm-2 col-sm-offset-2"></label>
                <div class="col-sm-3">
                    <input asp-for="CertifiedAfter" class="form-control" />
                </div>
            </div>
            <div class="form-group">
                <label asp-for="SignedWaiverOn" class="control-label col-sm-2 col-sm-offset-2"></label>
                <div class="col-sm-3">
                    <input asp-for="SignedWaiverOn" class="form-control" />
                </div>
            </div>
            <div class="form-group">
                <label asp-for="SignedWaiverBefore" class="control-label col-sm-2 col-sm-offset-2"></label>
                <div class="col-sm-3">
                    <input asp-for="SignedWaiverBefore" class="form-control" />
                </div>
            </div>
            <div class="form-group">
                <label asp-for="SignedWaiverAfter" class="control-label col-sm-2 col-sm-offset-2"></label>
                <div class="col-sm-3">
                    <input asp-for="SignedWaiverAfter" class="form-control" />
                </div>
            </div>
            <div class="form-group ">
                <div class="form-group col-xs-12 ">
                    <button type="submit" class="btn btn-lg btn-primary col-sm-2 col-sm-offset-3">Search</button>
                </div>
            </div>
        </form>
    </div>
}