@using WAMA.Core.ViewModel;

@Html.Partial("DisplayError")

<div class="col-xs-10 col-xs-offset-1">
    <h3 class="text-center">Check-In report</h3>
    <br />

    @{
        @model CheckInReportResultViewModel

        <div class="row">
            <a href=".">
                <span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span> return to filter
            </a>
            <br />
            <br />

            @Html.Partial("DownloadCSVButton.cshtml", Model.ReportFilter)
        </div>

        if (Model.ReportFilter.ReportGranularity == ReportGranularity.Individual)
        {
            @Html.Partial("CheckInsIndividualEntries.cshtml", Model);
        }
        else
        {
            @Html.Partial("CheckInAggregates.cshtml", Model);
        }
    }
</div>