@using WAMA.Core.ViewModel;

@Html.Partial("DisplayError")

<div class="col-xs-10 col-xs-offset-1">
    <h3 class="text-center">Check-In report</h3>
    <br />

    @{
        @model CheckInReportResultViewModel

        @Html.Partial("DownloadCSVButton.cshtml", Model.ReportFilter)

        if (Model.ReportFilter.ReportGranularity == ReportGranularity.Individual)
        {
            @Html.Partial("CheckInsIndividualEntries.cshtml", Model);
        }
        else
        {
            @Html.Partial("CheckInAggregates.cshtml", Model);
        }
    }
</div>