@using WAMA.Core.ViewModel;
@using WAMA.Web.Model;
@using WAMA.Core.Models.DTOs;
@using WAMA.Core.ViewModel.User;

@Html.Partial("DisplayError")

@{
    @model IEnumerable<UserAccountViewModel>

    if (object.Equals(Model, null) || Model.Any() == false)
    {
        <h4 class="text-danger">Nothing to show here</h4>
    }
    else
    {
        @Html.Partial("DownloadCSVButton.cshtml", ViewData["filter"])
        @Html.Partial("UserAccountTableDisplay", Model)
    }
}