@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div id="box">

    <div class="panel-danger">
        <div class="panel-heading">403 Access Denied </div>
        <div class="panel-body">
            <section>
                <h1 class="text-danger">You are not Authorized!</h1>
            </section>
        </div>
    </div>
</div>