
@Html.Partial("DisplayAlerts")
<div class="vertical-align-element clear-both">
    <div class="horizontal-align-element">

        <form method="post" class="inline-block">

            <div class="form-group col-xs-12">
                <input type="text"
                       class="form-control"
                       name="memberId"
                       id="check-in-user-id"
                       placeholder="Please enter your ID"
                       pattern="[0-9]{6,7}"
                       title="6 or 7 digit long numbers only!" />
            </div>

            <div class="form-group col-xs-12">
                <input type="submit" class="btn btn-lg btn-primary big-action-button" value="Check In" />
            </div>
            <br />
            <br />
            <br />
            @if (ViewBag.AccountExists == "false")
            {
                 <a href='@Url.Content("~/Patron/Create?memberid=" + @ViewBag.MemberId)'>create new account</a>
            }
        </form>
    </div>
</div>