@if (ViewData.ContainsKey(AppString.ErrorMessages))
{
    <div class="form-group col-xs-12" asp>
        <div class="alert alert-danger alert-dismissible" role="alert">
            <button type="button"
                    class="close"
                    data-dismiss="alert"
                    aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            @foreach (var error in (ViewData[AppString.ErrorMessages] as IEnumerable<string>))
            {
                <p>@error</p><br />
            }
        </div>
    </div>
}